
@font-face {
    font-family: 'Public Sans Light';
    src: url('../fonts/PublicSans-Light.eot');
    src: url('../fonts/PublicSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PublicSans-Light.woff2') format('woff2'),
        url('../fonts/PublicSans-Light.woff') format('woff'),
        url('../fonts/PublicSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/PublicSans-Thin.eot');
    src: url('../fonts/PublicSans-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/PublicSans-Thin.woff2') format('woff2'),
        url('../fonts/PublicSans-Thin.woff') format('woff'),
        url('../fonts/PublicSans-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sigmar';
    src: url('../fonts/Sigmar-Regular.eot');
    src: url('../fonts/Sigmar-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sigmar-Regular.woff2') format('woff2'),
        url('../fonts/Sigmar-Regular.woff') format('woff'),
        url('../fonts/Sigmar-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}





